* {
	border-color: darkmagenta !important;
	color: #0fd;
	font-family: Hermit Nerd Font;
}

button {
	border-color: darkcyan !important;
}

input {
	color: cyan !important;
	background: black !important;
}

code {
	background: black !important;
}

a {
	color: #ff0 !important;
}
