* {
	border-top-color: #011 !important;
	border-bottom-color: #011 !important;
	border-left-color: #0aa !important;
	border-right-color: #0aa !important;
	color: #fff;
	/*background-color: #000 !important;*/
	box-shadow: none !important;
	font-family: Roboto;
	/*border-radius: 0 !important;*/
	/*font-style: italic !important;*/
}

body {
	background-image: none !important;
	background-color: black !important;
}

header:not([role="banner"]) {
	transform-origin: top;
	transform: perspective(30em) rotate3d(1,0,0, -6deg);
	/*background: linear-gradient(90deg, #fff .1%, rgba(0,0,0,0) .1%, rgba(0,0,0,0) 99.9%, #fff 99.9%) !important;*/
	transition-duration: 0.2s !important;
}

header:not([role="banner"]):hover {
	transform: none;
	box-shadow: 30px 0 40px -35px #fff, -30px 0 40px -35px #fff !important;
}

footer {
	transform-origin: bottom;
	transform: perspective(30em) rotate3d(1,0,0, 6deg);
	background:
		linear-gradient(90deg, #fff .1%, rgba(0,0,0,0) .1%, rgba(0,0,0,0) 99.9%, #fff 99.9%) !important;
	transition-duration: 0.2s !important;
}

footer:hover {
	transform: scale(1);
	/*box-shadow: 0 0 20px -7px #fff !important;*/
}

main {
	background: black !important;
}

button {
	border-color: #222 !important;
	cursor: pointer !important;
	color: #fff !important;
}

button:hover {
	transition-duration: 0.1s !important;
	transform: scale(1.1) skew(-5deg);
	z-index: 999 !important;
	border-color: #bbb !important;
	background: #000;
	color: #fff;
	box-shadow: 0 0 15px -5px #fff !important;
}

button svg {
	fill: #fff;
}

input {
	color: #0ff !important;
	background: #000 !important;
	border-color: #777 !important;
	transition-duration: .2s !important;
}

input:hover {
	box-shadow: 0 0 10px -5px #fff !important;
	border-color: #999 !important;
	z-index: 666 !important;
}

input:focus {
	transition-duration: .4s !important;
	transform: scale(1.04);
	border-color: #ccc !important;
	z-index: 777 !important;
	box-shadow: 0 0 15px -5px #fff !important;
}

input[type=password] {
	background: repeating-linear-gradient(
		-45deg,
		#310,
		#310 10px,
		#000 10px,
		#000 20px
	) !important;
	border-color: #960 !important;
}

input[type=password]:focus {
	border-color: #fa0 !important;
}


code {
	background: black !important;
}

a {
	cursor: pointer !important;
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none !important;
}

a:hover {
	color: #fff !important;
	text-decoration: underline !important;
	/*text-shadow: 0 0 7px #f00 !important;*/
}

h1:after {
	content: ' ]';
	color: #f00;
	font-style: normal !important;
	text-shadow: 3px 0 7px #f00;
}

h1:before {
	content: '[ ';
	color: #f00;
	font-style: normal !important;
	text-shadow: -3px 0 7px #f00;
}

#mw-page-base {
	background: black;
}

.vector-menu-tabs li {
	background: #222;
}

/*YouTube*/

ytd-grid-video-renderer:hover {
	box-shadow: 0 -10px 20px -15px #fff !important;
}

ytd-grid-video-renderer:hover #details {
	box-shadow: 0 10px 20px -15px #fff !important;
}

#masthead-ad {
	display: none !important;
}

/*Reddit*/

#SHORTCUT_FOCUSABLE_DIV .Post {
    box-shadow: 17px 0 30px -30px #f0f, -17px 0 30px -30px #0ff !important;
    transition: .3s;
}

#SHORTCUT_FOCUSABLE_DIV .Post:hover {
    border-left-color: #0ff !important;
    border-right-color: #f0f !important;
    box-shadow: 30px 0 40px -35px #f0f, -30px 0 40px -35px #0ff !important;
}

div[data-before-content="advertisement"], .ad-banner, #COIN_PURCHASE_DROPDOWN_ID {
	display: none;
}

header[data-redditstyle="true"] svg {
	fill: #fff;
}

/*Github+*/

div[role="grid"] div[role="row"] {
	background:
		linear-gradient(90deg, #fff .1%, #000 .1%, rgba(0,0,0,0) 99.9%, #fff 99.9%),
		linear-gradient(15deg, #303, #000 20%, #000 80%, #303) !important;
}

div[role="grid"] div[role="row"]:hover {
	background:
		linear-gradient(90deg, #fff .3%, rgba(0,0,0,0) .3%, rgba(0,0,0,0) 99.7%, #fff 99.7%),
		linear-gradient(15deg, #303, #000, #000, #303) !important;
	box-shadow: 0 10px 20px -14px #fff, 10px 0 10px -10px #fff, -10px 0 10px -10px #fff !important;
	z-index: 666;
	transform: scale(1.01);
}

