* {
	border-color: darkmagenta !important;
	color: #0fd;
	box-shadow: none !important;
	font-family: Hermit Nerd Font !important;
	font-style: italic !important;
}

body {
	background-image: none !important;
	/*background: black !important;*/
}

button {
	border-color: darkcyan !important;
}

input {
	color: cyan !important;
	background: black !important;
}

code {
	background: black !important;
}

a {
	color: #f0f !important;
}

#mw-page-base {
	background: black;
}

.vector-menu-tabs li {
	background: #202;
}
