* {
	border-color: darkmagenta !important;
	color: #0fd;
	box-shadow: none !important;
	font-family: Hermit Nerd Font !important;
	/*border-radius: 0 !important;*/
	font-style: italic !important;
}

body {
	background-image: none !important;
	/*background: black !important;*/
}

header {
	margin-bottom: 5px;
	background:
		repeating-linear-gradient(
			-45deg, #202, #202 15px,
			rgba(0,0,0, .7) 15px, rgba(0,0,0, .7) 30px
		) !important;
}

footer {
	margin-top: 5px;
	background:
		repeating-linear-gradient(
			45deg, #101, #101 15px,
			rgba(0,0,0, .7) 15px, rgba(0,0,0, .7) 30px
		) !important;
}

main {
	background: black !important;
}

button {
	border-color: #022 !important;
	cursor: pointer !important;
	color: #0ff !important;
}

button:hover {
	transition-duration: 0.1s !important;
	transform: scale(1.1) skew(-5deg);
	z-index: 999 !important;
	border-color: #0ff !important;
	background: #000;
	color: #0ff;
}

button svg {
	fill: #0ff;
}

input {
	color: cyan !important;
	background: black !important;
	border-color: #077 !important;
}

input:hover {
	border-color: #099 !important;
}

input:focus {
	border-color: #0ff !important;
}

input[type=password] {
	background: repeating-linear-gradient(
		-45deg,
		#200,
		#200 10px,
		#000 10px,
		#000 20px
	) !important;
}

code {
	background: black !important;
}

a {
	cursor: pointer !important;
	color: #f0f !important;
	text-transform: uppercase;
}

a:hover {
	text-decoration: underline !important;
	color: #f0f !important;
	text-shadow: 0 0 10px #f00 !important;
}

h1, h2, h3 {
	text-shadow: 
		0 0 2px #000,
		0px -2px 3px rgba(0,255,255, .7),
		0px 3px 3px rgba(255,0,255, .7);
}

h1:after {
	content: ' ]';
	color: #f00;
	font-style: normal !important;
	text-shadow: 3px 0 7px #f00;
}

h1:before {
	content: '[ ';
	color: #f00;
	font-style: normal !important;
	text-shadow: -3px 0 7px #f00;
}

#mw-page-base {
	background: black;
}

.vector-menu-tabs li {
	background: #202;
}

header {
	transform: perspective(30em) rotate3d(1,0,0, -2deg);
}

footer {
	transform: perspective(30em) rotate3d(1,0,0, 2deg);
}
